@model Gerenciador_CT.Models.Aula

@{
	ViewData["Title"] = "Delete";
}
<div class=" text-center"

<br />
<br />
<h3>Quer mesmo deletar esta aula?</h3>
<div>
	
	<hr />
	<dl class="row">
		
		<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.FkHorarioNavigation.Dia)
		</dt>
		<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.FkHorarioNavigation.Dia)
		</dd>
		<dt class = "col-sm-2">
				@Html.DisplayNameFor(model => model.FkHorarioNavigation.Hora)
		</dt>
		<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.FkHorarioNavigation.Hora)
		</dd>
		<dt class = "col-sm-2">
				Treinador da aula
		</dt>
		<dd class = "col-sm-10">
				@Html.DisplayFor(model => model.FkTreinadorNavigation.Nome)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<div class="d-grid gap-2">
			<a class="btn btn-primary" asp-action="Index">Voltar para a lista</a>
			<input type="submit" value="Delete" class="btn btn-danger" /> 
			
		</div>

	</form>
</div>
