@model IEnumerable<Gerenciador_CT.Models.Modalidade>

@{
	ViewData["Title"] = "Index";
}
<div class="text-center">


	<p class="d-grid gap-2 d-mds-flex justify-content-md-start">

		<br />
		<a class="btn btn-primary " role="button" asp-action="Create">Cadastrar nova modalidade</a>
	</p>
	<h1 class="display-4">Lista de modalidades</h1>
	<table class="table table-light table-striped table-hover">
		<thead>
			<tr class="table-dark">
				<th scope="col">
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th scope="col">
					@Html.DisplayNameFor(model => model.Descricao)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{


				foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Nome)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Descricao)
						</td>
						<td>

							<a role="button" class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><img src="~/editar.png " alt="editar" width="25" /></a> |

							<a role="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><img src="~/excluir.png" width="25" /></a>

						</td>
					</tr>
				}
			}
		</tbody>

	</table>
</div>